body {
	padding-top: 5rem;
	background-color: #f4f4f4;
}

.card {
	display: flex;
	flex-direction: row;

	.card-text {
		font-weight: bold;
		font-size: 24px;
	}

	.card-icon {
		width: 56px;
		height: 46px;
		margin-top: 36px;
		margin-left: 18px;
	}
}

@keyframes bgcolor {
	0% {
		background-color: #114264;
	}

	30% {
		background-color: #8ef557;
	}

	60% {
		background-color: #5a2502;
	}

	90% {
		background-color: rgb(133, 30, 47);
	}

	100% {
		background-color: #5e209c;
	}
}

.warning-mode-on {
	-webkit-animation: bgcolor 4s infinite;
	animation: bgcolor 2s infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}
