body {
	padding-top: 1rem;
	background-color: #f4f4f4;
	padding-bottom: 0.5rem;
}

.card {
	display: flex;
	flex-direction: row;

	.card-text {
		font-weight: bold;
		font-size: 24px;
	}

	.card-icon {
		width: 56px;
		height: 46px;
		margin-top: 36px;
		margin-left: 18px;
	}
}