<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>display</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="styles/style.scss" />

		<script src="https://code.jquery.com/jquery.min.js"></script>
		<script src="http://localhost:6006/socket.io/socket.io.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/series-label.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		<script src="https://code.highcharts.com/modules/accessibility.js"></script>

		<script src=""></script>
	</head>
	<body>
		<div class="container mt-3">
			<h1 class="text-center mb-4">Sensor Dashboard</h1>
			<div class="row">
				<div class="col-lg-4">
					<div class="card warningSection temperature-card">
						<img
							class="card-icon"
							src="./images/temp.png"
							alt="" />
						<div class="card-body">
							<h2 class="card-title">Temperature</h2>
							<p
								class="card-text"
								id="temperature-display"></p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card warningSection humidity-card">
						<img
							class="card-icon"
							src="./images/humi.png"
							alt="" />
						<div class="card-body">
							<h2 class="card-title">Humidity</h2>
							<p
								class="card-text"
								id="humidity-display"></p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card warningSection light-card">
						<img
							class="card-icon"
							src="./images/light.png"
							alt="" />
						<div class="card-body">
							<h2 class="card-title">Light</h2>
							<p
								class="card-text"
								id="light-display"></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-5">
			<figure class="chart">
				<div id="myChart"></div>
			</figure>
		</div>

		<script src="scripts/import.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
