<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>display</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="styles/style.scss" />
	</head>
	<body>
		<div class="container mt-5">
			<h1 class="text-center mb-4">Sensor Dashboard</h1>
			<div class="row">
				<div class="col-lg-4">
					<div class="card warningSection temperature-card">
						<img
							class="card-icon"
							src="./images/temp.png"
							alt="" />
						<div class="card-body">
							<h2 class="card-title">Temperature</h2>
							<p
								class="card-text"
								id="temperature-display">
								Loading...
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card warningSection humidity-card">
						<img
							class="card-icon"
							src="./images/humi.png"
							alt="" />
						<div class="card-body">
							<h2 class="card-title">Humidity</h2>
							<p
								class="card-text"
								id="humidity-display">
								Loading...
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="card warningSection light-card">
						<img
							class="card-icon"
							src="./images/light.png"
							alt="" />
						<div class="card-body">
							<h2 class="card-title">Light</h2>
							<p
								class="card-text"
								id="light-display">
								Loading...
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script>
			const socket = io();

			socket.on('temperature', (data) => {
				const temperature = document.getElementById(
					'temperature-display',
				);
				temperature.innerText = `${data} °C`;
			});

			socket.on('humidity', (data) => {
				const humidity = document.getElementById('humidity-display');
				humidity.innerText = `${data} %`;
			});

			socket.on('light', (data) => {
				const light = document.getElementById('light-display');
				light.innerText = `${data} lux`;
			});

			socket.on('warningSection', (data) => {
				const temperatureCard =
					document.querySelector('.temperature-card');
				const humidityCard = document.querySelector('.humidity-card');
				const lightCard = document.querySelector('.light-card');

				if (data.temperature > 40 || data.temperature < 0) {
					temperatureCard.classList.add('warning-mode-on');
				} else {
					temperatureCard.classList.remove('warning-mode-on');
				}

				if (data.humidity > 60 || data.humidity < 30) {
					humidityCard.classList.add('warning-mode-on');
				} else {
					humidityCard.classList.remove('warning-mode-on');
				}

				if (data.light < 100 || data.light > 1000) {
					lightCard.classList.add('warning-mode-on');
				} else {
					lightCard.classList.remove('warning-mode-on');
				}
			});
		</script>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
